@font-face{
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix')   format('embedded-opentype'),
            url('fonts/LAKESHOR-webfont.woff')  format('woff'),
            url('fonts/LAKESHOR-webfont.ttf')   format('truetype'),
            url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-size: 10px;
    background: rgb(213,231,243);
}

a{
    text-decoration: none;
}
.logo-text{
    background: white;
    
    text-align: center;
    text-transform: uppercase;
    font-family: lakeshore;
    font-size: 37px;
}
.thumbnail-item + .thumbnail-item{
    margin-top: 10px;
}
.thumbnail-list{
    list-style: none;
    padding: 0%;

    white-space: nowrap;
    overflow-x: auto;
}
.thumbnail-item{
    display: inline-block;
    width: 120px;
    border: 1px solid rgb(100%,100%,100%);
    border: 1px solid rgba(100%,100%,100%,0.8);
}
#barry-otter{
    background: green;
}
.thumbnail-image{
    display:block;
    width: 100%;
}
.thumbnail-title{
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: rgb(80, 121, 155);
    color: rgb(240, 248, 252);

    font-size: 18px;
}
.detail-image{
    width:90%;
}